<nav class="navbar">
    <div class="navbar-left">
        <button class="hamburger-btn" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <app-asha-logo type="logo" theme="light"></app-asha-logo>
        <!-- AshaLogo -->
    </div>

    <ul class="navbar-menu" [class.is-active]="isMenuOpen">



        <li class="dropdown-item" [class.active]="activeDropdown === 'users'">
            <a class="menu-trigger" (click)="toggleDropdown('users')">
                Users <span class="arrow">▼</span>
            </a>
            <ul class="dropdown-content">
                <li><a routerLink="/dashboard/users" (click)="closeMenu()">List Users</a></li>
                <li class="divider"></li>
                <li><a routerLink="/dashboard/administrative-user/new" (click)="closeMenu()">New Admin User</a></li>
                <li><a routerLink="/dashboard/client-manager-user/new" (click)="closeMenu()">New Client Manager</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/dashboard','user','edit','HY87Y65']" (click)="closeMenu()">Edit User (Test)</a>
                </li>
            </ul>
        </li>

        <li class="dropdown-item" [class.active]="activeDropdown === 'clients'">
            <a class="menu-trigger" (click)="toggleDropdown('clients')">
                Clients <span class="arrow">▼</span>
            </a>
            <ul class="dropdown-content">
                <li><a routerLink="/dashboard/clients" (click)="closeMenu()">List Clients</a></li>
                <li><a routerLink="/dashboard/clients/new" (click)="closeMenu()">New Client</a></li>
            </ul>
        </li>

        <li class="dropdown-item" [class.active]="activeDropdown === 'documents'">
            <a class="menu-trigger" (click)="toggleDropdown('documents')">
                Documents <span class="arrow">▼</span>
            </a>
            <ul class="dropdown-content">
                <li><a routerLink="/dashboard/documents/upload" (click)="closeMenu()">Upload Documents</a></li>
                <li><a routerLink="/dashboard/documents/generate" (click)="closeMenu()">Generate Docs</a></li>
            </ul>
        </li>
    </ul>



    <!-- Desplegar la informacion del usuario autenticado en funcion de si esta autenticado -->
    @if (httpAuth.currentUser$ | async; as user){
    <div class="user-info">
        <p>Bienvenido, {{user.names}} {{user.role}} </p>
        <div class="navbar-right">
            <button class="logout-btn" (click)="onLogout()">
                Log Out
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline>
                    <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
            </button>
        </div>
    </div>
    }
    @else {
    <ul class="navbar-menu" [class.is-active]="isMenuOpen">
        <div class="user-info">
            <li class="dropdown-item" [class.active]="activeDropdown === 'users'">
                <a class="menu-trigger" (click)="toggleDropdown('users')">
                    Saas Auth <span class="arrow">▼</span>
                </a>
                <ul class="dropdown-content">
                    <li><a routerLink="/login" (click)="closeMenu()">Login</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/register" (click)="closeMenu()">Register</a></li>
                </ul>
            </li>
        </div>
    </ul>

    }
</nav>


@if (isMenuOpen) {
<div class="menu-overlay" (click)="closeMenu()"></div>
}